<launch>
    <!-- Remote start -->
    <!--
	export ROS_IP=192.168.40.193
	export ROS_MASTER_URI="http://192.168.40.193:11311"
    -->
    <!-- BUG
    <machine name="Explorer" address="192.168.40.192" default="never" env-loader="/opt/ros/groovy/env.sh" user="ubuntu" password="ubuntu" />
    -->
  <rosparam command="load" file="$(find explorer_robot)/joystick.yaml" ns="joy" />
  <param name="robot_description" textfile="$(find explorer_robot)/urdf/explorer.urdf" />
  
  <!-- LOAD bridge robot -->
  <group ns="robot">
      <rosparam command="load" file="$(find explorer_robot)/explorer.yaml" />
      <node name="robot" pkg="serial_bridge" type="serial_bridge_node" args="/dev/ttyUSB0">
          <remap from = "/robot/joint_states" to = "/joint_states" />
      </node>
  </group>
  <!-- LOAD bridge sensor -->
  <group ns="sensor">
      <rosparam command="load" file="$(find explorer_robot)/sensor.yaml" />
      <node name="sensor" pkg="serial_bridge" type="serial_bridge_node" args="/dev/ttyUSB1" />
  </group>
  
</launch>
